<div class="decorative-sphere sphere-1" #sphere1></div>
<div class="decorative-sphere sphere-2" #sphere2></div>

<div class="splash-title">
    <span #welcome class="playfair purple font-size-xxlarge">{{ welcomeText }}</span>
    <br>
    <p #toMy class="cormorant darkcyan font-size-xlarge">{{ toMyText }}</p>
    <span #portfolio class="playfair darkcyan font-size-xxlarge">{{ portfolioText }}</span>
    <p class="line">
        <span #by class="cormorant darkcyan font-size-xlarge">{{ byText }}</span>
        <span #salma class="playfair purple font-size-xlarge">{{ salmaText }}</span>
    </p>
</div>
<div class="button-action">
    <button #joinButton routerLink="/home">{{ joinText }}</button>
</div>