<h1 class="title">{{title_h1}}</h1>
<form action="">
    <div class="input-group">
        <label for="title">{{title_label}}</label>
        <input type="text" id="title" name="title" [(ngModel)]="newStory.title" />
    </div>
    <div class="input-group">
        <label for="subtitle">{{subtitle_label}}<span>(optional)</span></label>
        <input type="text" id="subtitle" name="subtitle" [(ngModel)]="newStory.subtitle" />
    </div>
    <div class="block-group">
        <div class="block-group-header">
            <h2>{{add_block_label}}</h2>
            <button (click)="addBlock()">{{add_block_button}}</button>
        </div>
        <div class="blocks-container">
  @for (block of newStory.content; track $index) {
    <div class="block-item">
      
      <!-- Botones de mover -->
      <div class="move-buttons">
        <button type="button" (click)="moveBlockUp($index)">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
        <button type="button" (click)="moveBlockDown($index)">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
      </div>

      <!-- Selector de tipo -->
      <div class="type-selector" [class.expanded]="block.isExpanded">
        <button class="type-button" (click)="toggleDropdown(block)">
          <span class="type-name">{{ block.type }}</span>
        </button>
        @if (block.isExpanded) {
          <div class="type-dropdown">
            @for (item of types; track $index) {
              <button class="type-option" (click)="onBlockTypeChange(block, item)">
                <span class="type-name">{{ item }}</span>
              </button>
            }
          </div>
        }
      </div>

      <!-- Input -->
      <!-- Input para bloques -->
      @if (block.type === 'image') {
        <div class="block-input">
          <input 
            type="file" 
            accept="image/*" 
            (change)="onImageSelected($event, block)" 
          />

          <!-- preview temporal -->
          @if (block.text) {
            <img [src]="block.src" class="preview-img" />
          }
        </div>
      }
      @if (block.type !== 'image') {
        <input class="block-input" type="text" placeholder="Write here" [(ngModel)]="block.text" name="text{{$index}}"/>
      }


      <!-- Botón eliminar -->
      <button class="remove-button" (click)="removeBlock($index)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  }
</div>

    </div>
</form>
<div class="buttons">
    <button class="save-button" (click)="saveStory()">{{save_button}}</button>
    <button class="back-button" routerLink="/stories">{{back_button}}</button>
</div>


<!-- Botón lateral -->
<div class="preview-toggle" (click)="togglePreview()">
  
</div>

<!-- Overlay -->
<div class="preview-overlay" [class.open]="isPreviewOpen">
  <app-story-detail [story]="newStory"></app-story-detail>
</div>
