// Typography variables
$font-cormorant: 'Cormorant Garamond', serif;
$font-playfair: 'Playfair Display', serif;
$font-poppins: 'Poppins', sans-serif;


// Color variables
$color-primary-dark: #736894; // Example primary color
$color-primary-light: #A39DB3; // Example secondary color
$color-secondary-dark: #439696; // Example accent color
$color-secondary-light: #8CBEB4; // Example light accent color

// Font Size variables
$font-size-small: 0.875rem; // 14px
$font-size-medium: 1rem; // 16px
$font-size-large: 1.25rem; // 20px
$font-size-xlarge: 2rem; // 32px
$font-size-xxlarge: 3rem; // 48px