<h1 class="gallery-title">{{title_h1}}</h1>

<div class="gallery-grid">

  <div class="gallery-grid">
  <div 
    *ngFor="let image of images; let i = index" 
    class="gallery-item"
    (click)="openOverlay(image)"
  >
    <img [src]="image.src" [alt]="image.alt" />
  </div>
</div>

</div>
@if (authService.isSalmaLoggedIn()) {
  <div class="upload-image-modal">
    <button (click)="openUploadModal()">{{upload_button}}</button>
  </div>
}

@if(uploadModal) {
  <div class="upload-modal">
    <div class="upload-content">
      <h2>{{upload_button}}</h2>

      <label class="file-input-label">
        <input 
          type="file" 
          (change)="handleFileInput($event)" 
          accept="image/*" 
          hidden
        />
        Choose
      </label>

      <!-- Input descripción -->
      <input 
        type="text" 
        placeholder="Descripción" 
        [(ngModel)]="newPhoto.description"
      />

      <div class="upload-actions">
        <button (click)="closeUploadModal()">Cancel</button>
        <button 
          (click)="uploadImage()" 
          [disabled]="!selectedFile || isUploading">
          {{ isUploading ? 'Subiendo...' : 'Subir' }}
        </button>
      </div>
    </div>
  </div>
}


<!-- Overlay al hacer click en la imagen -->
@if (selectedImage) {
  <div class="overlay" (click)="closeOverlay()">
    <div class="overlay-content" (click)="$event.stopPropagation()">
      <img [src]="selectedImage.src" [alt]="selectedImage.alt" class="overlay-image" />
      <button class="close-btn" (click)="closeOverlay()">×</button>

      <!-- Botón de eliminar visible solo para Salma -->
      @if (authService.isSalmaLoggedIn()) {
        <button class="delete-btn" (click)="confirmDelete(selectedImage)">{{delete_button}}</button>
      }
    </div>
  </div>
}

<!-- Modal de confirmación -->
@if (showConfirmModal) {
  <div class="modal-backdrop">
    <div class="modal">
      <p>are u sure miss calista?</p>
      <div class="modal-actions">
        <button class="btn-cancel" (click)="cancelDelete()">Cancelar</button>
        <button class="btn-confirm" (click)="deletePhoto()">{{delete_button}}</button>
      </div>
    </div>
  </div>
}

<!-- Modal de feedback -->
@if (feedbackMessage) {
  <div class="feedback-toast">
    {{ feedbackMessage }}
  </div>
}