<div class="navbar" [class.scrolled]="isScrolled">
  <h1 (click)="onTitleClick()">Salma</h1>
  <div class="burguer-menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="nav-links-mobile" [class.open]="!isMenuOpen">
  <h1 (click)="onTitleClick()">Salma</h1>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">{{home}}</a></li>
    <li><a routerLink="/stories" routerLinkActive="active">{{stories}}</a></li>
  </ul>
  <app-button-languages></app-button-languages>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="showLoginModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{login_title}}</h2>
    <form (ngSubmit)="onLoginSubmit($event)">
      <input type="text" [(ngModel)]="username" name="username" [placeholder]="login_user" />
      <input type="password" [(ngModel)]="password" name="password" [placeholder]="login_password" />
      <button type="submit">{{login_button}}</button>
    </form>
    <button class="close-btn" (click)="closeModal()">{{login_close_button}}</button>
  </div>
</div>
