:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('../assets/background-1.png') no-repeat;
    background-position: center;
    background-size: cover;
}