<app-home-header></app-home-header>
<section class="quotes-and-stories">
  @if (notes.length > 0) {
    <h2>{{ notes_title }}</h2>
  }

  <!-- Formulario para agregar nueva nota -->
 @if (authService.isSalmaLoggedIn()) {
  <div class="add-note">
  <input
    type="text"
    placeholder="Write a new note..."
    [(ngModel)]="newNoteText"
    class="note-text"
  />

  <app-color-select
    [selectedColor]="newNoteColor"
    (colorChange)="newNoteColor = $event"
  ></app-color-select>

  <button (click)="addNote()" class="add-note-btn">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>

}



  <div class="notes-container">
  @for (note of notes; track note.id; let i = $index) {
    <div class="note-card">
      <p>{{ note.text }}</p>

      <img
        [src]="'../../../assets/svgs/' + getCurrentImage(note, i) + '.svg'"
        alt="background-note"
      />

      @if (authService.isSalmaLoggedIn()) {
        <button class="edit-button" (click)="editNote(note)">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button class="delete-button" (click)="deleteNote(note)">
          <i class="fa-solid fa-trash"></i>
        </button>
      }
    </div>
  }
</div>

</section>

<section class="gallery">
<h2>{{gallery_tittle}}</h2>
<div class="gallery-container">
  @for (item of images; track $index) {

    <div class="gallery-item">
      <img [src]="item.src" alt="Inspiración 1" routerLink="/gallery">
    </div>
  }
    
</div>
</section>
<section class="social-media">
  <ul>
    @for (sm of socialMedia; track $index) {

        <li>
            <a [href]="sm.url" target="_blank" rel="noopener noreferrer">
                <i [class]="sm.icon"></i>
            </a>
        </li>
    }
  </ul>
</section>
